@font-face{
  font-family: 'Redacted Regular';
  src: url(https://redacted.glitch.me/fonts/redacted-regular.eot);
  src: url(https://redacted.glitch.me/fonts/redacted-regular.woff) format('woff'),
       url(https://redacted.glitch.me/fonts/redacted-regular.svg) format('svg');
}

/*
.redacted-regular{
body{
  font-family: 'Redacted Regular !important';
}
*/
