@font-face{
  font-family: 'Redacted Script Bold';
  src: url(https://cdn-ftfish.rhcloud.com/redactedjs/fonts/redacted-script-bold.eot);
  src: url(https://cdn-ftfish.rhcloud.com/redactedjs/fonts/redacted-script-bold.woff) format('woff'),
       url(https://cdn-ftfish.rhcloud.com/redactedjs/fonts/redacted-script-bold.svg) format('svg');
}

/*
.redacted-script-bold{
  font-family: 'Redacted Script Bold !important';
}
*/
