@font-face{
  font-family: 'Redacted Script Light';
  src: url(https://redacted.glitch.me/fonts/redacted-script-light.eot);
  src: url(https://redacted.glitch.me/fonts/redacted-script-light.woff) format('woff'),
       url(https://redacted.glitch.me/fonts/redacted-script-light.svg) format('svg');
}

/*
.redacted-script-light{
  font-family: 'Redacted Script Light !important';
}
*/
