@font-face{
  font-family: 'Redacted Script Regular';
  src: url(https://redacted.glitch.me/fonts/redacted-script-regular.eot);
  src: url(https://redacted.glitch.me/fonts/redacted-script-regular.woff) format('woff'),
       url(https://redacted.glitch.me/fonts/redacted-script-regular.svg) format('svg');
}

/*
.redacted-script-regular{
  font-family: 'Redacted Script Regular !important';
}
*/
